Fritzbox_UPnP_Control.json
[{"id":"fe03d93.8a0eea8","type":"fritzbox-callmonitor","z":"fbae4d8b.9b5d5","device":"d5eec846.642c28","name":"","topic":"","x":480,"y":320,"wires":[["cce9e54d.ae2538","848094a5.c2d878"]]},{"id":"cce9e54d.ae2538","type":"debug","z":"fbae4d8b.9b5d5","name":"","active":false,"console":"false","complete":"false","x":710,"y":280,"wires":[]},{"id":"69a91c1d.214804","type":"link out","z":"fbae4d8b.9b5d5","name":"","links":["c1036aa3.63e78"],"x":795,"y":320,"wires":[]},{"id":"848094a5.c2d878","type":"function","z":"fbae4d8b.9b5d5","name":"","func":"/*\nif (msg.payload.type === 'INBOUND' || msg.payload.type === 'OUTBOUND') {\n    msg.force = 'mute';\n    return msg;\n} else if (msg.payload.type === 'MISSED' || msg.payload.type === 'DISCONNECT' || msg.payload.type === 'UNREACHED') {\n    msg.force = 'unmute';\n    return msg;\n}\n*/\n\nswitch (msg.payload.type) {\n    case 'INBOUND':\n    case 'OUTBOUND':\n        msg.force = 'mute';\n        return msg;\n    case 'MISSED':\n    case 'DISCONNECT':\n    case 'UNREACHED':\n        msg.force = 'unmute';\n        return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":320,"wires":[["69a91c1d.214804"]]},{"id":"d5eec846.642c28","type":"fritzbox-config","z":"fbae4d8b.9b5d5","name":"","host":"fritz.box","port":"49000","ssl":false,"user":"doesnotexist"}]