Symfonisk_UPnP_Control.json
[{"id":"cf6f624b.e7dfc","type":"debug","z":"ef735c7c.a5e24","name":"","active":false,"console":"false","complete":"payload","x":730,"y":920,"wires":[]},{"id":"d041e92.2ee1118","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":690,"y":880,"wires":[["cf6f624b.e7dfc"]]},{"id":"7c4f3772.0e458","type":"function","z":"ef735c7c.a5e24","name":"Volume +","func":"msg.payload = {};\nmsg.payload.action = 'GetVolume';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master'\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":680,"wires":[["faae6198.2b3a2"]]},{"id":"2fcc98a7.4a803","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":680,"wires":[["7c4f3772.0e458"]]},{"id":"faae6198.2b3a2","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":680,"wires":[["25c06f2d.9bbc18"]]},{"id":"81681a2b.57bb2","type":"function","z":"ef735c7c.a5e24","name":"","func":"const volume = parseInt(msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetVolumeResponse'][0]['CurrentVolume'][0])\nmsg.payload = {};\nmsg.payload.action = 'SetVolume';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master',\n    DesiredVolume: volume + 3\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":720,"wires":[["d041e92.2ee1118"]]},{"id":"25c06f2d.9bbc18","type":"xml","z":"ef735c7c.a5e24","name":"","property":"payload.raw","attr":"","chr":"","x":350,"y":720,"wires":[["81681a2b.57bb2"]]},{"id":"1af1563e.6daa62","type":"function","z":"ef735c7c.a5e24","name":"Volume -","func":"msg.payload = {};\nmsg.payload.action = 'GetVolume';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master'\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":780,"wires":[["d2b9cb66.369da8"]]},{"id":"b707bc7.edcd54","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["1af1563e.6daa62"]]},{"id":"d2b9cb66.369da8","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":780,"wires":[["2ee6abc1.5500cc"]]},{"id":"eddd8658.b35ba","type":"function","z":"ef735c7c.a5e24","name":"","func":"const volume = parseInt(msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetVolumeResponse'][0]['CurrentVolume'][0])\nmsg.payload = {};\nmsg.payload.action = 'SetVolume';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master',\n    DesiredVolume: volume - 3\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":820,"wires":[["d041e92.2ee1118"]]},{"id":"2ee6abc1.5500cc","type":"xml","z":"ef735c7c.a5e24","name":"","property":"payload.raw","attr":"","chr":"","x":350,"y":820,"wires":[["eddd8658.b35ba"]]},{"id":"9c77d323.45d57","type":"function","z":"ef735c7c.a5e24","name":"Next","func":"msg.payload = {};\nmsg.payload.action = 'Next';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["e0c69166.9a1408"]]},{"id":"12d8799a.71f3be","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":310,"y":420,"wires":[["9c77d323.45d57"]]},{"id":"dd3def60.cb6178","type":"debug","z":"ef735c7c.a5e24","name":"","active":false,"tosidebar":true,"console":false,"complete":"payload","x":270,"y":320,"wires":[]},{"id":"c7b30c68.f05a38","type":"mqtt in","z":"ef735c7c.a5e24","name":"Symfonisk","topic":"zigbee2mqtt/Symfonisk","qos":"1","datatype":"json","broker":"fdc5c233.4c5fd","x":80,"y":320,"wires":[["dd3def60.cb6178","fd39d20f.fe308"]]},{"id":"c4345e37.904eb8","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":310,"y":480,"wires":[["91ba9c6f.37287"]]},{"id":"91ba9c6f.37287","type":"function","z":"ef735c7c.a5e24","name":"Previous","func":"msg.payload = {};\nmsg.payload.action = 'Previous';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["e0c69166.9a1408"]]},{"id":"da086291.e9e5a8","type":"function","z":"ef735c7c.a5e24","name":"Toggle Play","func":"msg.payload = {};\nmsg.payload.action = 'GetTransportInfo';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1080,"wires":[["b7a9a60a.36b17"]]},{"id":"de9fd773.b1e15","type":"inject","z":"ef735c7c.a5e24","name":" ","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":1080,"wires":[["da086291.e9e5a8"]]},{"id":"b7a9a60a.36b17","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":1080,"wires":[["3ea763c5.82dc54"]]},{"id":"9e028818.bb43e","type":"function","z":"ef735c7c.a5e24","name":"","func":"let currentTransportState = msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetTransportInfoResponse'][0]['CurrentTransportState'][0];\nmsg.payload = {};\nif (currentTransportState === \"PLAYING\") {\n    msg.payload.action = 'Pause';\n} else { // PAUSED_PLAYBACK\n    msg.payload.action = 'Play';\n}\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Speed: 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1120,"wires":[["d041e92.2ee1118"]]},{"id":"3ea763c5.82dc54","type":"xml","z":"ef735c7c.a5e24","name":"","property":"payload.raw","attr":"","chr":"","x":350,"y":1120,"wires":[["9e028818.bb43e"]]},{"id":"fd39d20f.fe308","type":"switch","z":"ef735c7c.a5e24","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"brightness_step_up","vt":"str"},{"t":"eq","v":"brightness_step_down","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"toggle","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":110,"y":500,"wires":[["9c77d323.45d57"],["b68af1f3.6c2a08"],["7c4f3772.0e458"],["1af1563e.6daa62"],["8eac3ed0.4c303"]]},{"id":"b93acfde.f4c688","type":"function","z":"ef735c7c.a5e24","name":"Toggle Mute","func":"msg.payload = {};\nmsg.payload.action = 'GetMute';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master'\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":980,"wires":[["353eeb79.5174ec"]]},{"id":"1c2e0c4f.dba29c","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":980,"wires":[["b93acfde.f4c688"]]},{"id":"353eeb79.5174ec","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":980,"wires":[["e01e63b8.752fd"]]},{"id":"825e1e25.d9b378","type":"function","z":"ef735c7c.a5e24","name":"","func":"const currentMuteState = msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetMuteResponse'][0]['CurrentMute'][0];\nconst desiredMute = currentMuteState === \"0\" ? 1 : 0;\n\nmsg.payload = {};\nmsg.payload.action = 'SetMute';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master',\n    DesiredMute: desiredMute\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1020,"wires":[["d041e92.2ee1118"]]},{"id":"e01e63b8.752fd","type":"xml","z":"ef735c7c.a5e24","name":"","property":"payload.raw","attr":"","chr":"","x":350,"y":1020,"wires":[["825e1e25.d9b378"]]},{"id":"b68af1f3.6c2a08","type":"function","z":"ef735c7c.a5e24","name":"GetPositionInfo","func":"msg.payload = {};\nmsg.payload.action = 'GetPositionInfo';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Speed: 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["df286fac.280df"]]},{"id":"df286fac.280df","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":540,"wires":[["70178500.a823fc"]]},{"id":"70178500.a823fc","type":"switch","z":"ef735c7c.a5e24","name":"","property":"payload.GetPositionInfoResponse.RelCount","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":540,"wires":[["91ba9c6f.37287"],["659a019.2081e8"]]},{"id":"2bfc570f.815098","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":310,"y":600,"wires":[["659a019.2081e8"]]},{"id":"659a019.2081e8","type":"function","z":"ef735c7c.a5e24","name":"Seek Pos 0","func":"msg.payload = {};\nmsg.payload.action = 'Seek';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Unit: 'REL_TIME',\n    Target: '0:00:00'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":600,"wires":[["e0c69166.9a1408"]]},{"id":"e0c69166.9a1408","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":670,"y":440,"wires":[["a33af2f.82c5b1"]]},{"id":"a33af2f.82c5b1","type":"debug","z":"ef735c7c.a5e24","name":"","active":false,"console":"false","complete":"payload","x":690,"y":400,"wires":[]},{"id":"c1aea092.3f7b58","type":"comment","z":"ef735c7c.a5e24","name":"Rewinds OR skip backwards","info":"Skip to previous song only within first 10s, otherwise just to the beginning of current song.","x":720,"y":600,"wires":[]},{"id":"2e493215.c3d6ae","type":"link in","z":"ef735c7c.a5e24","name":"","links":["c75d14e8.c39aa8"],"x":215,"y":1120,"wires":[["da086291.e9e5a8"]]},{"id":"2fe19407.88f3ac","type":"function","z":"ef735c7c.a5e24","name":"Mute & Play","func":"msg.payload = {};\nmsg.payload.action = 'GetMute';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1180,"wires":[["cfb03fa2.526f3"]]},{"id":"face678f.b1bab8","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":1180,"wires":[["2fe19407.88f3ac"]]},{"id":"cfb03fa2.526f3","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":1180,"wires":[["df109eb.1c7f0e"]]},{"id":"2d6e7299.6897ce","type":"function","z":"ef735c7c.a5e24","name":"","func":"const currentMuteState = msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetMuteResponse'][0]['CurrentMute'][0];\nconst desiredMute = currentMuteState === \"0\" ? 1 : 0;\n\nmsg.payload = {};\nmsg.payload.action = 'SetMute';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master',\n    DesiredMute: desiredMute\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1220,"wires":[["d041e92.2ee1118"]]},{"id":"df109eb.1c7f0e","type":"xml","z":"ef735c7c.a5e24","name":"","property":"payload.raw","attr":"","chr":"","x":350,"y":1220,"wires":[["2d6e7299.6897ce","ae2a2409.87da48"]]},{"id":"ae2a2409.87da48","type":"function","z":"ef735c7c.a5e24","name":"","func":"const currentMuteState = msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetMuteResponse'][0]['CurrentMute'][0];\nconst desiredMute = currentMuteState === \"0\" ? 1 : 0;\n\nmsg.payload = {};\nmsg.payload.action = desiredMute ? 'Pause' : 'Play'\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Speed: 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1260,"wires":[["d041e92.2ee1118"]]},{"id":"8eac3ed0.4c303","type":"function","z":"ef735c7c.a5e24","name":"PseudoMute","func":"msg.payload = {};\nmsg.payload.action = 'GetVolume';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":880,"wires":[["db3da6ef.a7336"]]},{"id":"d25a8754.618ad8","type":"inject","z":"ef735c7c.a5e24","name":" ","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":880,"wires":[["8eac3ed0.4c303"]]},{"id":"db3da6ef.a7336","type":"upnp-invokeAction","z":"ef735c7c.a5e24","upnpConfiguration":"653e1d55.d283c4","name":"UPnP","x":470,"y":880,"wires":[["7cd0e8c5.78dfa"]]},{"id":"b184fc63.afd918","type":"function","z":"ef735c7c.a5e24","name":"","func":"let volume = parseInt(msg.payload.raw['s:Envelope']['s:Body'][0]['u:GetVolumeResponse'][0]['CurrentVolume'][0])\n\nif (volume === 1) {\n    volume = flow.get('LastVolume', 25)\n} else {\n    flow.set('LastVolume', volume)\n    volume = 1\n}\n\nmsg.payload = {};\nmsg.payload.action = 'SetVolume';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:RenderingControl:1';\nmsg.payload.params = {\n    InstanceID: 0,\n    Channel: 'Master',\n    DesiredVolume: volume\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":920,"wires":[["d041e92.2ee1118"]]},{"id":"7cd0e8c5.78dfa","type":"xml","z":"ef735c7c.a5e24","name":"","property":"payload.raw","attr":"","chr":"","x":350,"y":920,"wires":[["b184fc63.afd918"]]},{"id":"26f5cce6.c6bac4","type":"comment","z":"ef735c7c.a5e24","name":"PseudoMute","info":"This will set volume to 1 instead to mute, because real mute stops playback completely in some music apps on iOS.","x":170,"y":920,"wires":[]},{"id":"653e1d55.d283c4","type":"upnp-configuration","uuid":"5f9ec1b3-ed59-1900-4530-3c077100cea8","useHardcodedDeviceDescriptionURL":false,"deviceDescriptionURL":"","name":"NS510"},{"id":"fdc5c233.4c5fd","type":"mqtt-broker","name":"ZigBee2MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]